<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset = "UTF-8">
<title th:text="${title}">タイトル</title>
</head>

<body>
    <h1 th:text="${title}">大見出し</h1>
    <p><a th:text="${url}" th:href="${url}">URL</a>に対してGETリクエストを送信してみる</p>
    <table  border="1">
        <tbody>
        <tr>
            <td>id</td>
            <td><p th:text="${UserInfo.id}"></p></td>
        </tr>
        <tr>
            <td>name</td>
            <td><p th:text="${UserInfo.name}"></p></td>
        </tr>
        <tr>
            <td>username</td>
            <td><p th:text="${UserInfo.username}"></p></td>
        </tr>
        <tr>
            <td>lat</td>
            <td><p th:text="${UserInfo.address.geo.lat}"></p></td>
        </tr>
        <tr>
            <td>lng</td>
            <td><p th:text="${UserInfo.address.geo.lng}"></p></td>
        </tr>
        </tbody>
    </table>


</body>